body {
	font-family: "HelveticaNeue-Light",
				 "Helvetica Neue Light",
				 "Helvetica Neue"
				 Helvetica,
				 Arial,
				 "Lucida Grande", sans-serif;
}

.header {
	display: inline-block;
	height: 150px;
	width: 100%;
}

.navBar {
	display: inline-block;
	background-color: white;
	position: fixed;
	float: right;
	color: black;
	text-align: left;
	width: 80%;
	height: 30px;
	overflow: hidden;
	padding: 5px;
	z-index: 5;
}

.navBar a {
	font-size: 30px;
	color: black;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	float: left;
	margin-left: 40px;
}

.navBar a:hover {
	background-color: #ff9934;
	color: black;
}

.navBar a.active {
	background-color: #ff9934;
}

.beschreibung {
	text-align: center;
	padding: 7px;
	background-color: #ff9934;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.sideScrollBar {
	height: 280px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #66cdcc;
	text-align: center;
	padding: 7px;
	overflow-x: scroll;
	white-space: nowrap;
	overflow-y: hidden;
}

.nettebad {
	text-decoration: none;
	color: black;
	display: inline-block;
}

.nettebad img {
	border-radius: 50% / 50%;
	-webkit-transition: all 0.5s ease-in-out;
	border: 4px solid #66cdcc;
}

.nettebad:hover img {
	-webkit-transition: all 0.5s ease-in-out;
	border: 4px solid #ff9934;
}

.bauerhorst {
	text-decoration: none;
	color: black;
	display: inline-block;
}

.bauerhorst img {
	border-radius: 50% / 50%;
	-webkit-transition: all 0.5s ease-in-out;
	border: 4px solid #66cdcc;
}

.bauerhorst:hover img {
	-webkit-transition: all 0.5s ease-in-out;
	border: 4px solid #ff9934;
}

.barheader {
	margin-top: 5px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 7px;
	text-align: center;
	background-color: #66cdcc;
}

.caption {
	display: block;
}

.footer {
	margin-top: 5px;
	border: 1px solid black;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 7px;
}

.anschrift {
	width: 33%;
	padding: 2px;
	display: inline-block;
	border-right: 1px solid black;
	vertical-align: top;
}

.kontakt {
	width: 65%;
	float: right;
	display: inline-block;
	padding: 2px;
	vertical-align: top;
}

.impressum {
	padding: 2px;
	border-top: 1px solid black;
}