body {
	font-family: "HelveticaNeue-Light",
				 "Helvetica Neue Light",
				 "Helvetica Neue"
				 Helvetica,
				 Arial,
				 "Lucida Grande", sans-serif;
	background-color: #cdfffe;
}

.header {
	display: inline-block;
	height: 150px;
	width: 100%;
}

.navBar {
	display: inline-block;
	background-color: white;
	border: 1px solid black;
	position: fixed;
	float: right;
	color: black;
	text-align: left;
	width: 80%;
	height: 30px;
	overflow: hidden;
	padding: 5px;
	z-index: 5;
}

.navBar a {
	font-size: 30px;
	color: black;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	float: left;
	margin-left: 40px
}

.navBar a:hover {
	background-color: #66cdcc;
	color: black;

}

.navBar a.active {
	background-color: #ff9934;
}

.infobox {
	height: 90%;
	width: 100%;
	padding: 5px;
	background-color: #66cdcc;
}

.infobox img {
	-webkit-transition: all 0.5s ease-in-out;
}

.infobox img:hover {
	-webkit-transition: all 0.5s ease-in-out;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.contactbox {
	display: inline-block;
	padding: 7px;
	width: 50%;
	text-align: center;
	vertical-align: top;
}

.sidescrollbar{
	width: 100%;
	height: 300px;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 5px;
	padding: 5px;
}

.placeholder {
	width: 23%;
	height: 275px;
	background-color: black;
	text-align: center;
	color: white;
	display: inline-block;
	-webkit-transition: all 0.5s ease-in-out;
}

.placeholder:hover {
	background-color: grey;
	-webkit-transition: all 0.5s ease-in-out;
}

.impressum {
	padding: 5px;
	border: 1px solid black;
}