body {
	font-family: "HelveticaNeue-Light",
				 "Helvetica Neue Light",
				 "Helvetica Neue"
				 Helvetica,
				 Arial,
				 "Lucida Grande", sans-serif;
}

.header {
	display: inline-block;
	height: 150px;
	width: 100%;
}

.navBar {
	display: inline-block;
	background-color: white;
	position: fixed;
	margin left: 225px;
	color: black;
	text-align: left;
	width: 80%;
	height: 30px;
	overflow: hidden;
	padding: 5px;
}

.navBar a {
	font-size: 30px;
	color: black;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	float: left;
	margin-left: 40px;
}

.navBar a:hover {
	background-color: #ff9934;
	color: black;

}

.navBar a.active {
	background-color: #ff9934;
}

.textbox1 {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	margin-top: 5px;
	padding: 7px;
}

.textbox2 {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	margin-top: 5px;
	padding: 7px;
	background-color: #66cdcc;
}

.facts {
	margin-top: 5px;
	text-align: center;
	width: 50%;
	height: 250px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 7px;
	background-color: #ff9934;

}

.factsbox {
	text-align: center;
	width: 23%;
	border-radius: 50% / 50%;
	border: 4px solid #ff9934;
	height: 200px;
}

.pricingbox {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	background-color: #66cdcc;
	padding: 7px;
}

.pricingbox h3 {
	border-bottom: 1px solid black;
}

.footer {
	margin-top: 5px;
	border: 1px solid black;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 7px;
}

.anschrift {
	width: 33%;
	padding: 2px;
	display: inline-block;
	border-right: 1px solid black;
	vertical-align: top;
}

.kontakt {
	width: 65%;
	float: right;
	display: inline-block;
	padding: 2px;
	vertical-align: top;
}

.impressum {
	padding: 2px;
	border-top: 1px solid black;
}

